.slider {
  width: 100%;
  margin-top: 89px;
}

.slider-item {
  width: 100%;
  padding-top: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-item-text {
  width: 45%;
  transform: translateY(-50%);
}

.slider-item-title {
  font-size: 24px;
  font-family: var(--font-sub);
  margin-bottom: 20px;
}

.btn-see-more {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 8px 16px;
  background-color: transparent;
}

.btn-see-more:hover {
  color: var(--active-color);
  border: 1px solid var(--active-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .wrapper {
        padding: 0 20px;
      } */
  .slider-item-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .slider-item-decr {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .slider-item-title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .slider-item-decr {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 40px;
  }
}
