.blog {
  margin: 40px 0;
}

.heading {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
}

.see-all:hover {
  cursor: pointer;
  color: var(--active-color);
}

.btn-see-all {
  border: 1px solid #000;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 16px;
}

.btn-see-all:hover {
  background-color: var(--active-color);
  border: 1px solid #000;

  color: #000;
}

.wrapper {
  padding: 0 20px;
  min-height: 68px;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: auto;
    padding: 0;
    /* padding: 0 120px; */
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .wrapper {
    width: 1200px;
    margin: auto;
    /* padding: 0 120px; */
  }
}
