.recipes-item {
  margin-bottom: 24px;
}

.recipes {
  margin: 40px 0;
}

.recipes-item-decr {
  padding-right: 20px;
  text-align: left;
}

.recipes-item-info {
  font-size: 14px;
  align-items: center;
}

.recipes-item-name {
  margin-bottom: 16px;
}

.recipes-time,
.recipes-item-by {
  font-size: 14px;
}

.recipes-item:hover .recipes-item-thumb {
  transform: scale(1.3);
  transition: 0.5s ease;
  /* opacity: 0.8; */
}

.recipes-item:hover .recipes-item-name {
  color: var(--active-color);
}

.recipes-item-thumb {
  padding-top: 130%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-thumb {
  overflow: hidden;
}

.add-recipesBox,
.add-favourite {
  top: 10px;
  right: 10px;
  z-index: 2;
  color: #fff;
  font-size: 20px;
}

.add-recipesBox:hover {
  cursor: pointer;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 4px;
  position: relative;
}
.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--active-color);
  transition: width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.recipes-link:hover .underline-hover-effect::before {
  width: 100%;
}

.recipes-time {
  z-index: 0;
  bottom: 0;
  right: 0px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes-day {
  font-size: 14px;
  font-weight: 600;
}

.recipes-month {
  font-size: 12px;
}

.border-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
}
