.btn-see-all {
  border: 1px solid #000;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 16px;
}

.btn-see-all:hover {
  background-color: var(--active-color);
  border: 1px solid #000;
  color: #000;
}

.course-field > div {
  margin-bottom: 24px;
}
