.border-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
}

.item-info {
  color: var(--sub-bg);
  padding-top: 8px;
  font-size: 14px;
}

.item-by::after {
  position: relative;
  top: 4px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: 0 16px;
  background-color: var(--sub-color);
}

.share {
  margin-left: 10px;
}

.recipes-popular-number {
  min-width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.recipes-popular {
  margin-top: 24px;
}

.recipes-popular-top {
  width: 100%;
  top: 50px;
  left: 0;
  gap: 10px;
  padding: 32px 10px 32px 30px;
  color: #ffffff;
  gap: 10px;
}

.recipes-popular-item {
  gap: 10px;
  height: 110px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.popular-thumb {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  margin-left: -20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipes-popular-by {
  font-size: 14px;
  color: var(--sub-color);
}

.popular-link:hover .recipes-popular-item {
  height: 170px;
  transition: 0.5s ease;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.recipes-popular-item:hover .popular-thumb {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  animation: scale 0.2s ease-in-out;
  height: 100%;
  width: 100%;
}

@keyframes scale {
  from {
    transform: scaleY(0.8);
  }
  to {
    transform: scaleY(1);
  }
}

.popular-link:hover .recipes-popular-number {
  color: #fff;
}

.popular-link:hover .recipes-popular-thumb img {
  transform: scale(1.3);
  transition: 0.5s ease;
}

.popular-blog-item {
  padding: 20px 0;
  border-bottom: 1px solid var(--sub-color);
}

.popular-blog-thumb {
  overflow: hidden;
}

.popular-blog-item:hover img {
  transform: scale(1.3);
  transition: 0.5s ease;
}

.popular-blog-item:hover .popular-blog-name {
  color: var(--active-color);
}

.heading-sidebar {
  font-size: 18px;
  font-weight: 500;
}

.side-bar-content::-webkit-scrollbar {
  display: none;
}

.popular-recipes,
.popular-blog,
.popular-video,
.popular-course {
  margin-bottom: 40px;
}

.video-item {
  margin-top: 20px;
}

.cource-popular-thumb {
  overflow: hidden;
}

.course-popular-link:hover .cource-popular-thumb img {
  transform: scale(1.3);
  transition: 0.5s ease;
}

.course-popular-link:hover .course-popular-name {
  color: var(--active-color);
}
