.wrapper {
  padding: 0 20px;
  min-height: 68px;
}

.heading {
  margin-bottom: 20px;
}

.recipes {
  margin: 40px 0;
}

.recipes-popular-number {
  min-width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.recipes-popular {
  margin-top: 24px;
}

.recipes-popular-top {
  width: 100%;
  top: 50px;
  left: 0;
  gap: 10px;
  padding: 32px 10px 32px 30px;
  color: #fff;
  gap: 10px;
}

.recipes-popular-item {
  gap: 10px;
  /* padding: 32px 10px 32px 30px; */
  height: 110px;
  padding-left: 32px;

  border-bottom: 1px solid #ccc;
}

.popular-thumb {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  margin-left: -32px;
  background-size: cover;
  background-repeat: no-repeat;
}

.popular-link:hover .recipes-popular-item {
  height: 170px;
  transition: 0.5s ease;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.recipes-popular-item:hover .popular-thumb {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  animation: scale 0.2s ease-in-out;
  height: 100%;
  width: 100%;
}

.border-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: auto;
    padding: 0;
    /* padding: 0 120px; */
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .wrapper {
    width: 1200px;
    margin: auto;
    /* padding: 0 120px; */
  }
}
